[Unit]
Description=Docker Local
Documentation=http://docs.docker.io

[Service]
ExecStartPre=/usr/bin/systemctl kill docker.service
ExecStartPre=/bin/mount --make-rprivate /
ExecStart=/usr/bin/docker -d -r=false -H tcp://0.0.0.0:4243 -H unix:///var/run/docker.sock

[Install]
WantedBy=multi-user.target
